@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.3rem;
}

::-webkit-scrollbar-track {
  width: 0.4rem;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: silver;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}
